option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application.py
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

container_commands:
  01_create_venv:
    command: "python3 -m venv /var/app/current/venv"
  02_install_requirements:
    command: "/var/app/current/venv/bin/pip install --upgrade pip"
  03_install_packages:
    command: "/var/app/current/venv/bin/pip install -r /var/app/current/requirements.txt"
