option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application

packages:
  yum:
    gcc: []
    gcc-c++: []
    libstdc++: []
    python3-devel: []
    make: []
    lapack-devel: []
    blas-devel: []
    libffi-devel: []
    bzip2-devel: []
    zlib-devel: []
    xz-devel: []
    openblas-devel: []
